<section class="content-header">
  <h2>Responsáveis</h2>
</section>

<po-container>
  <form [formGroup]="responsableForm">
    <div class="po-row">
      <po-input class="po-md-2" formControlName="id" p-clean p-label="Código"></po-input>
      <po-input class="po-md-4" formControlName="name" p-clean p-label="Nome"></po-input>
    </div>

    <div class="po-row">
      <po-button class="po-md-3" p-label="Salvar" (p-click)="saveResponsable()"></po-button>
      <po-button class="po-md-3" p-label="Excluir" (p-click)="deleteResponsable()"></po-button>
    </div>

    <hr>

    <po-grid [p-row-actions]="rowActions" [p-data]="responsables" [p-columns]="columns"></po-grid>
  </form>
</po-container>
