<section class="content-header">
  <h2>Tarefas</h2>
</section>

<div class="po-row">
    <form [formGroup]="">
      <div class="form-group">
          <input type="text" #iptSearch formControlName=""
            class="form-control" placeholder="Buscar">
      </div>
    </form>
</div>

<po-table
  p-checkbox
  p-container
  p-height="380"
  p-hide-select-all="true"
  p-hide-text-overflow
  p-sort="true"
  p-striped="true"
  [p-actions]="actions"
  [p-columns]="columns"
  [p-items]="tasks">
</po-table>
